
@{

}

<div class="wrapper" style="text-align:center">
    <div class="container">
        <div class="col-left">
        </div>
        <div class="col-right">
            <div class="login-form">
                <h2>Login</h2>
                <form method="post">
                    <p>
                        <label>Username : </label>
                        <input type="text"  name="UserName" placeholder="Username" required>
                    </p>
                    <p>
                        <label>Password : </label>
                        <input type="password" name="UserPassword" placeholder="Password" required>
                    </p>
                    <p>
                        <input type="submit" value="Sign In" />
                    </p>
                    <p>
                        <a href="">Forget Password?</a>
                    </p>
                </form>
                <h4>@ViewBag.Message</h4>
            </div>
        </div>
    </div>
</div>

